*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans',sans-serif;
}
html{
    scroll-behavior: smooth;
}

.container{
padding: 0 100px 0 100px;
}

nav ul,
.main-info-section,
.work-category{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}

body{
    background-color: #252627;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar{
    background-color: #181818;
}

header h1,
header a,
.text p,
.about h1,
.skills h1,
.work h1,
.contact h1{
    color:#707070
}

li{
    list-style: none;
    margin-left:30px;
}

a{
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    position: relative;
    top: auto;
    bottom: auto;
    transform: translateY(-50%);
}

.main-info-section{
    height: calc(100vh-81.6px);
}

.text{
    margin-top: 120px;
}

.text h1{
    color:#fff;
    font-size: 3rem;
    cursor: context-menu;
}

.text span{
    display: inline-block;
}

span:hover{
    color: #48cfad;
    transition: all .5s;
}

span.name{
    color: #ED5565;
}

span.m-left{
    margin-top: -10px;
}

.text p{
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: .8;
}

.text a{
    padding: 12px 25px;
    background-color: none;
    border: 3px solid #ED5565;
    color: #111111;
    font-size: .8rem;
    font-style: oblique;
    position: relative;
    top:80px;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
}

.text a:hover{
    color: #fff;
}

.text a::before{
    content:'';
    background-color: #ed5565;
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}

.text a::before{
    height: 100%;
}

.profile-image img{
    width: 450px;
    margin-top: 50px;
}
/* at 165 type.about */
.about{
    height:100vh;
    margin-top: 80px;
}

.about h1,
.work h1{
    font-size: 10rem;
    /* z-index: 0; */
    opacity: .2;
}

.about-me-info{
    max-width: 900px;
    background-color: #252627;
    box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
    padding: 50px;
    position: relative;
    top: -70px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.about-me-info{
font-size: 1.3rem;
color: #bebebe;
}

.about-me-info p:nth-child(2),
.about-me-info p:last-child{ 
    margin-top: 30px;
}

.about img{
    width:250px;
    position: relative;
    top: -320px;
    left: auto;
    right: auto;
    transform: translateX(350%);
}
.skills h1{
    margin-top: -100px;
}
.skills{
    height: 100vh;
}

.skills h1,
.contact h1{
    text-align: left;
    font-size: 10rem;
    opacity: .1;
}

.skills-info{
    font-size: 1.4rem;
    color: #BEBEBE;
    box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
    padding: 80px 40px;
    top: -95px;
    max-width: 900px;
    position: relative;
    transform: translateX(15%);
    margin-bottom: -40px;
    z-index: 1;
}

.html{
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    margin-bottom: 30px;
}

div[class^='tag-']{
    clip-path: polygon(75% 0%,100% 50%,75% 100%,0% 100%,0% 50%,0% 0%);
    width: 120px;
    height: 30px;
    background-color: #1785a7;
    margin-right: 30px;
}

div[class^='tag-'] p{
    color: rgb(0, 0, 0);
    text-align: left;
    padding-left: 20px;
    padding-right: 40px;
    font-size: 1rem;
    padding-top: 3px;
}

.progressbar{
    position: relative;
    width: 600px;
    height: 20px;
    border: 2px solid #48cfad;
    border-radius: 20px;
    margin-top: 7px;
}

div[class^='bar-']{
    position :relative;
    background-color: #48cfad;
    height: 10px;
    border-radius: 20px;
    margin: 2.7px;
    cursor: pointer;
}

.bar-html{ 
    width: 70%; 
    animation: bar-html 2s;
}
@keyframes bar-html{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

.bar-css{ 
    width: 60%; 
    animation: bar-css 2s;
}
@keyframes bar-css{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}

.bar-javascript{ 
    width: 40%; 
    animation: bar-javascript 2s;
}
@keyframes bar-javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}

.bar-servlet{ 
    width: 50%; 
    animation: bar-servlet 2s;
}
@keyframes bar-servlet{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}

.bar-mysql{ 
    width: 45%; 
    animation: bar-mysql 2s;
}
@keyframes bar-mysql{
    0%{
        width: 0%;
    }
    100%{
        width: 45%;
    }
}

.work h1{
    margin-top: 100px;
}
.work-category button{
    text-transform:capitalize;
    border: 3px solid #ED5565;
    padding: 15px 30px;
    border-radius: 50px;
    color: #ED5565;
    font-size: 1.1rem;
    letter-spacing: 1px;
    background-color: #252627;
    /* cursor: pointer; */
}

div[class='category-designing showCategory']{
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    grid-gap: 20px;
}

div[class='category-animation hideCategory']{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    grid-gap: 20px;
}

div[class='category-project hideCategory']{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    grid-gap: 20px;
}

.work a{
    justify-self: center;
    position: relative;
    display: inline-block;
}

.work-category.active{
    background-color: #ED5565;
}

.button.active{
    color: #fff;
}

.work img{
    margin-top: -110px;
    width: 350px;
    justify-self: center;
}

.showCategory{
    display: block;
}

.contact{
    margin-top: 10px;
}

form input,
form textarea{
    display: block;
    width: 500px;
    padding: 20px;
    background-color: #252627;
    border: 3px solid #707070;
    margin: 20px 0;
    outline: none;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

form input:last-child{
    width: 150px;
    background-color: #ED5565;
    border: pointer;
    cursor: pointer;
}

footer hr{
    border: 2px solid #707070;
    margin-top: 80px;
}

footer p{
    text-align: center;
    color: #707070;
    font-size: 1.2rem;
    padding: 30px 0;
}